body {display: inline-flex; flex-direction:column; align-content: space-between;}


#t1:first-letter {
    color: #ff0000;
    font-size: xx-large;
  }
  
#t1:first-line {
    color: #0000ff;
    font-variant: small-caps;
}

#t2{margin-left: 40vh;}

#t2:before {
    content: "antes";
  }
#t2::after {
    content: "depois";
}

::marker { 
    color: pink;
    font-size: 23px;}

::selection {
        color: pink;
        background: paleturquoise;
}


a:link {
    color: #FF0000;
  }
  
 
a:visited {
    color: #00FF00;
  }
  
a:hover {
    color: #FF00FF;
  }
  
 
a:active {
    color: #0000FF;
  }
      
div:hover {
    background-color: lightsalmon;
  }

#t5 {
    display: none;
    background-color: yellow;
    padding: 20px;
    width: 100%;
    height: 10vh;
  }
  
#PM:hover #t5 {
    display: block;
  }
div:first-child {
    color: blue;
  }